/* Kode til scrolling */
html,
body {
  margin: 0;
  scroll-behavior: smooth;
}

.vertikal {
  height: 100vh;
  display: flex;
}

.sektion {
  overflow-x: hidden;
  display: flex;
  position: sticky;
  top: 0;
}

section {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Fonts */

h2 {
  font-family: "cc-regeneration-variable", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

h1{
  font-family: "cc-regeneration-variable", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  position: absolute;
  bottom: 30px;
  left: 30px;
  font-size: 40pt;
}

p {
  font-family: "mr-eaves-xl-modern", sans-serif;
  font-weight: 400;
  font-size: 15pt;
}

/* Farve på sektioner */
#blaa {
  background-color: #e2f0ff;
}
#blaa-groen {
  background-image: linear-gradient(to bottom, #e2f0ff, #a5e1a0);
}
#groen {
  background-color: #a5e1a0;
}
#groen-brun {
  background-image: linear-gradient(to bottom, #a5e1a0, #9d8d4c);
}
#brun {
  background-color: #9d8d4c;
}

/* Tekst boks template */

.overskrift-float {
  background-color: #f4ecc2;
  border-radius: 15px;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: -45px;

  padding: 10px 40px 20px;

  height: 60px;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  position: relative;
}

.overskrift-float h2 {
  padding-top: 20px;
}

.text-box {
  background-color: #f8f8f8;
  border-radius: 30px;
  padding: 20px;
  margin-left: 20px;
  margin-right: 20px;

  /*Individuel fra sektion til sektion*/
  max-width: 650px;
}

.text-box p {
  margin-bottom: 40px;
  line-height: 25px;
}

.space-top {
  margin-top: 50px;
}

/* -- Forside---START------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */
#wave{
  position: absolute;
  bottom: -19px;
}

.next-down{
  position: absolute;
  bottom: 10px;
  left: 48.2%;


}






/* -- DRØMMEN OM AT VÆRE LANDMAND---START------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */
#drømmen{
  background-color: #E2F0FF;
  z-index: -1;
}

/*-- SKYER -- START ---------------------------------------------------------------*/

/* Hvad F sker der for position top og z-indkezzzz??*/
#drømmen #sky-top-left{ 
  height: 40vh;
  width: 40vw;
  position:absolute;
  top:100vh;
  animation-name: slide-left-to-right;
  animation-duration: 180s;
  animation-iteration-count: infinite;
  z-index: 0;
  opacity: 60%;
}

#drømmen #sky-top-right{
  height: 30vh;
  width: 30vw;
  position:absolute;
  top:110vh;
  animation-name: slide-right-to-left;
  animation-duration: 185s;
  animation-iteration-count: infinite;
  z-index: 0;
  opacity: 60%;
}

#drømmen #sky-bottom-left{
  height: 30vh;
  width: 30vw;
  position:absolute;
  top:150vh;
  animation-name: slide-left-to-right;
  animation-duration: 185s;
  animation-iteration-count: infinite;
  z-index: 0;
  opacity: 60%;
}

#drømmen #sky-bottom-right{
  height: 40vh;
  width: 40vw;
  position:absolute;
  top:160vh;
  animation-name: slide-right-to-left;
  animation-duration: 180s;
  animation-iteration-count: infinite;
  z-index: 0;
  opacity: 60%;
}

/* Keyframes-SKYER */
@keyframes slide-left-to-right {
from {left:0%;}
to  {left:100%;}
}

@keyframes slide-right-to-left{
  from {right:0%;}
  to  {right:100%;}
}
/*-- SKYER -- SLUT ---------------------------------------------------------------*/

/*-- DRONER -- START ---------------------------------------------------------------*/

#drone-top-left{
  height: 10vh;
  width: 10vw;
  position: absolute;
  top:115vh;
  left:7vw;
  animation: drone-toggle 10s linear 0s infinite normal forwards;
}

#drone-mid-right{
  height: 10vh;
  width: 10vw;
  position: absolute;
  top:145vh;
  right: 7vw;
  animation: drone-toggle 10s linear 0s infinite normal forwards;

}

#drone-bottom-left{
  height: 10vh;
  width: 10vw;
  position: absolute;
  top:180vh;
  left:7vw;
  animation: drone-toggle 10s linear 0s infinite normal forwards;
}

/* Skal der ændres i rytme eller andet eller er det for meget ? */

@keyframes drone-toggle {
  0%,
  100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }

  15% {
    transform: translateX(-30px) rotate(6deg);
  }

  30% {
    transform: translateX(15px) rotate(-6deg);
  }

  45% {
    transform: translateX(-15px) rotate(3.6deg);
  }

  60% {
    transform: translateX(9px) rotate(-2.4deg);
  }

  75% {
    transform: translateX(-6px) rotate(1.2deg);
  }
}

/*-- DRONER -- SlUT ---------------------------------------------------------------*/

/*-- TEKSTBOKS -- START ---------------------------------------------------------------*/
.overskrift-float {
  background-color: #f4ecc2;
  border-radius: 15px;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: -45px;

  padding: 10px 40px 20px;

  height: 60px;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  z-index: 3;
}

.overskrift-float h2 {
  padding-top: 20px;
}

.text-box {
  background-color: #f8f8f8;
  border-radius: 30px;
  padding: 20px;
  margin-left: 20px;
  margin-right: 20px;

  /*Individuel fra sektion til sektion*/
  max-width: 650px;
}

.text-box p {
  margin-bottom: 40px;
  line-height: 25px;
}

.space-top {
  margin-top: 50px;
}

  #drømmen-content{ 
  display: flex;
  background-color: #f8f8f8;
  height: 46vh; 
  width: 60vw;
  border-radius: 30px;
  padding: 60px 20px 20px 20px;
  justify-content: space-between;
  position:relative;
  z-index: 2;
}

#drømmen-content img{
  border-radius: 30px;
  margin-left: 20px;
}  

/* -- DRØMMEN OM AT VÆRE LANDMAND---SLUT------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */

/* -- HVERDAGEN SOM LANDMAND--START------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */
#hverdag{ 
  background-color: #A5E1A0;
  background-image: url("img/mark.png");
  background-repeat: no-repeat;
  background-size:cover;
}
#hverdag-content{ 
margin-left: 40%;
}
#hverdag #traktor-1{ 
  position: absolute;
  width: 20vw;
  top: 20vh;
  transform: rotate(41deg);
  animation: tractor-moving-1 30s linear 0s infinite normal forwards;
}
#hverdag #traktor-2{ 
  position: absolute;
  width: 20vw;
  top: 20vh;
  transform: rotate(41deg);
  animation: tractor-moving-2 30s linear 0s infinite normal forwards;
}
@keyframes tractor-moving-1 {
  0%{
    top: 20vh;
    left: 0vw;
  }

  50%{
    top:50vh;
    left: 20vw;
  } 

  100%{
    top: 60vh;
    left: 30vw;
  } 
}

@keyframes tractor-moving-2 {
  0%{
    top: 50vh;
    left: 0vw;
  }
  50%{
    top: 60vh;
    left: 10vw;
  }
  100%{
    top: 70vh;
    left: 20vw;
  } 
}





/*SÅDAN BLEV HAN LANDMAND (SBHL)*/
#sbhl-s {
  justify-content: left;

  margin-left: 50px;
}

#sbhl-of {
  margin-left: 120px;
  margin-right: 120px;
}

#sbhl-tb {
  max-width: 865px;
}

#sbhl-halmballer {
  position: relative;
  width: 60%;
  margin-left: 115%;
  margin-top: -55%;
}

#sbhl-gris {
  position: relative;
  width: 45%;
  margin-left: 100%;
  margin-top: -9%;
}

#sbhl-ko {
  position: relative;
  width: 60%;
  margin-left: 123%;
  margin-top: -40%;
}

#sbhl-høne {
  position: relative;
  width: 15%;
  margin-left: 90%;
  margin-top: -12%;
}

/*OPSTART SOM LANDMAND (OSS)*/
#oss-tb {
  max-width: 965px;
}

#oss-halmballer-right {
  position: relative;
  width: 40%;
  margin-left: 95%;
  margin-top: -15%;

  transform: scaleX(-1);
}

#oss-traktor {
  position: relative;
  width: 60%;
  margin-left: 70%;
  margin-top: -33%;

  transform: scaleX(-1);
}

#oss-halmballer-left {
  position: relative;
  width: 20%;

  margin-top: -19%;
}

#oss-ko {
  position: relative;
  width: 28%;
  margin-left: 15%;
  margin-top: -19%;
}

/* Fakta om bæredygtig landbrug */
#vindmølle-left {
  width: 40%;
  min-width: 200px;
}
#vindmølle-right {
  width: 50%;
  min-width: 250px;
}

#vindmøller {
  margin-left: 40px;
}

#fakta-om-box{
  width: 60vw;
  
}

#fakta-om-area{
  height: 50vh;

  margin-bottom: 500px;
  margin-left: 100px;
}


/*Elev på arbejdspladsen*/

#overskrift-socialt-liv{
  position: absolute;
  top: 30px;
  width: 20%;
}

.box-pic-left{
  height: 230px;
  width: 45%;
  border-radius: 30px;
  overflow: hidden;
  background-color: #F8F8F8;

  margin: 20px;

  position: relative;
  top: -100px;
}

.box-pic-left img{
  height: 100%;
  width: auto;
  float: left;
  border-radius: 30px 0 0 30px;
}

.box-pic-left p{
  text-align: center;
  margin-top: 70px;
}

#pic-right img{
  height: 100%;
  width: auto;
  float: right;
  border-radius: 0 30px 30px 0;
}

#mid-center{
  position: absolute;
  top: 420px;
}

#mid-center p{
  margin-top: 40px;
}

/* --SELVSTÆNDIG LANDMAND--------------------------------------------------- */
#selvstændig-video iframe{ 
  border-radius: 15px;
}

#selvstændig-video-1-2{ 
  display:flex;
  justify-content: space-between;
  width: 90vw;
  align-items: center;
  position: absolute;
  top: 10vh;
  margin: auto;
  z-index: 0;
}


#video3{ 
  position: absolute;
  top: 55vh;
  z-index: 0;
}

.overskrift-video{
  background-color: #f4ecc2;
  border-radius:0px 15px 15px 15px;
  padding: 10px 40px 20px;
  height: 60px;
  position: absolute;
  top:30vh;
  z-index:3;
  width:350px;
  align-items: center;

}





/* Fremtidens Landbrug */

#block{
  display: block;
}
.flex{
  display: flex;
  margin-left: 100px;
}

#droner{
  width: 30%;
  padding: 100px;
}

#drone-left{
  width: 40%;
  padding: 40px;
  margin-left: 200px;
}
#drone-right{
  width: 30%;
  padding: 40px;

}
#drone-left, #drone-right{
  animation: myAnim 6s ease 0s infinite normal forwards;
}
@keyframes myAnim {
  0%,
  100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }
  15% {
    transform: translateX(-30px) rotate(6deg);
  }
  30% {
    transform: translateX(15px) rotate(-6deg);
  }
  45% {
    transform: translateX(-15px) rotate(3.6deg);
  }
  60% {
    transform: translateX(9px) rotate(-2.4deg);
  }
  75% {
    transform: translateX(-6px) rotate(1.2deg);
  }
}

#solceller{
  width: 25%;
  margin-left: 300px;
  margin-top: -100px;
}
#biogasanlæg{
  width: 25%;
  margin-left: 300px;
  margin-top: -100px;
}

#fremtiden-h2{
  margin-top: 70px;
}
#fremtiden-p{
  margin-left: 2.5%;
  max-width: 800px;
}

/* Infoside */

#roots-left{
  width: 50%;
  position: relative;
  }
  #roots-right{
  width: 50%;
  position: relative;
  }
  
  #læsmere-h2{
    margin-top:-800px;
    z-index: 1;
    margin-left: 25%;
    margin-right: 25%;
  }
  #læsmere-p{
    position: relative;
    max-width: 1000px;
    margin-left: 20%;
    margin-right: 20%;
  }

  #læsmere-p p{
    font-size: 10pt;
    margin: 30px;
  }








/* ---------SOCIAL----------- */

#social{
  display: flex;
}

#social p {
  font-size: 10pt;
  margin-bottom: 0px;
}

#social h3{
  margin-bottom: 0px;
}

#social img {
  margin-bottom: -250px;
}

.margin-top0 {
  margin-top: 0px;
}

ul li {
  margin-top: 0px;
  padding-top: 0px;
}


/* ---------LINKS TIL SKOLER----------- */
.text-box ul li a {
  padding: 15px;
  text-decoration: none;
  font-family: "mr-eaves-xl-modern", sans-serif;
  font-weight: 400;
  font-size: 15pt;
  color: black;
}

.text-box ul li a:hover{
  text-decoration: underline;
}

#list-links ul{
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  line-height: 30px;
}

#dk-kort{
  display: flex;
  justify-content: space-around;
}




li{
  font-family: "mr-eaves-xl-modern", sans-serif;
  font-weight: 400;
  font-size: 10pt;
}

a {
  font-family: "mr-eaves-xl-modern", sans-serif;
  font-weight: 400;
  font-size: 10pt;
}


h2{
  font-family: "cc-regeneration-variable", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  }
  
  h3{
    font-family: "mr-eaves-xl-modern", sans-serif;
    font-weight: 700;
    font-size: 10pt;
    }
  
  h4{
    font-family: "mr-eaves-xl-modern", sans-serif;
    font-weight: 400;
    font-size: 10pt;
  }
  
  p {
    font-family: "mr-eaves-xl-modern", sans-serif;
    font-weight: 400;
    font-size: 15pt;
  }