/* Kode til scrolling */
html,
body {
  margin: 0;
  scroll-behavior: smooth;
}


.vertikal{
  height: 100vh;
  display: flex;
}

.sektion {
  overflow-x: hidden;
  display: flex;
  position: sticky;
  top:0;
}

section {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Fonts */


h2{
font-family: "cc-regeneration-variable", sans-serif;
font-weight: 400;
text-transform: uppercase;
}

p{
  font-family: "mr-eaves-xl-modern", sans-serif;
  font-weight: 400;
  font-size: 15pt;
}


/* Farve på sektioner */
#blaa{
  background-color: #E2F0FF;
}
#blaa-groen{
  background-image: linear-gradient(to bottom, #E2F0FF, #A5E1A0);
}
#groen{
  background-color: #A5E1A0;
}
#groen-brun{
  background-image: linear-gradient(to bottom, #a5e1a0,#9D8D4C);
}
#brun{
  background-color: #9D8D4C;
}


/* Infoside */

#brun img{
  margin-top: -300px;
}



/* Boks med text */
.overskrift-float{
  background-color: #F4ECC2;
  border-radius: 15px;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: -45px;

  padding: 10px 40px 20px;

  height: 60px;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  position: relative;
}

.overskrift-float h2{
  padding-top: 20px;
}


.text-box{
  background-color: #f8f8f8;
  border-radius: 30px;
  padding: 20px;
  margin-left: 20px;
  margin-right: 20px;

  /*Individuel fra sektion til sektion*/
  max-width: 650px;
}


.text-box p{
  margin-bottom: 40px;
  line-height: 25px;
}

.space-top{
  margin-top: 50px;
}
